extends layout

block content
  .404
    h1 Bah alors, tu t’es perdu !?
    p T’inquiète, t’as qu’à cliquer sur le logo pour retourner à l’accueil,  mais qu’on ne te revoie pas ici !
    img(src="/img/404.png")
