extends ../layout

block content
  .page-header
    h3 Linked Accounts

  if user.google
    p: a.text(href='/account/import/google') Import from Youtube
  else
    p: a(href='/auth/google') Link your Google account

  if user.vimeo
    p: a.text(href='/account/import/vimeo') Import from Vimeo
  else
    p: a(href='/auth/vimeo') Link your Vimeo account

