extends ../layout

block content
  .page-header
    h3 Comptes connectés

  if user.google
    p: a.text(href='/account/import/google') Import depuis Youtube
  else
    p: a(href='/auth/google') Connexion avec son compte Google

  if user.vimeo
    p: a.text(href='/account/import/vimeo') Import depuis Vimeo
  else
    p: a(href='/auth/vimeo') Connexion avec son compte Vimeo

