extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Reset Password
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='password') Ton nouveau mot de passe
        input.form-control(type='password', name='password', value='', placeholder='Nouveau mot de passe', autofocus=true)
      .form-group
        label(for='confirm') Confirme et sois sur de toi
        input.form-control(type='password', name='confirm', value='', placeholder='Confirmation')
      .form-group
        button.btn.btn-primary.btn-reset(type='submit')
          i.fa.fa-keyboard-o
          | Change Password
