extends ../layout

block content
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    legend On s’active pour s’inscrire !

    .form-group
      label.col-sm-4.control-label(for='name') Commence déjà par donner ton blaze :
      .col-sm-6
        input.form-control(type='text', name='name', id='name', placeholder='Pierre, Paul ou Jacques', autofocus)
    
    .form-group
      label.col-sm-4.control-label(for='name') Ensuite pour t'es venu ici ?
      .col-sm-6
        label.col-sm-6.control-label(for='motivation1') Je suis un sportif mec !
        input.form-control(type='radio', name='motivation', id='motivation1', value='0', checked)

        label.col-sm-6.control-label(for='motivation2') Je suis là pour donner du taf !
        input.form-control(type='radio', name='motivation', id='motivation2', value='1', checked=false)
    
    .form-group
<<<<<<< HEAD
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Ton email', autofocus)
    .form-group
      label.col-sm-3.control-label(for='password') Mot de passe
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword')Tu es sûr de toi ? Confirme alors !
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
=======
      label.col-sm-4.control-label(for='birthdate') Puis quand t’es venu au monde ?
      .col-sm-6
        input.form-control(type='date', name='birthdate', id='birthdate', placeholder='JJ/MM/AAAA')
    
    .form-group
      label.col-sm-4.control-label(for='city') Tu crèches où ? (La ville ! Le reste je m’en fou.. )
      .col-sm-6
        input.form-control(type='text', name='city', id='city', placeholder='Paris, L.A, Berlin ...')
    
    .form-group
      label.col-sm-4.control-label(for='country') C’est dans quel pays ça ? 
      .col-sm-6
        input.form-control(type='text', name='country', id='country', placeholder='France, Etat-Unis, Allemange ...')

    .form-group
      label.col-sm-4.control-label(for='email') Là ou t'es joignable :
      .col-sm-6
        input.form-control(type='email', name='email', id='email', placeholder='looser@ducrew.com')

    .form-group
      label.col-sm-4.control-label(for='password') Histoire de protéger tout ca :
      .col-sm-6
        input.form-control(type='password', name='password', id='password', placeholder='Mot de passe, code secret, tout sauf 0000 quoi!')
        a.show-pass Show !

    .form-group#company-field
      label.col-sm-4.control-label(for='company') Tu bosses pour qui ?
      .col-sm-6
        input.form-control(type='text', name='company', id='company', placeholder='Nike, Redbull, le boulanger')


>>>>>>> FETCH_HEAD
    .form-group
      .col-sm-offset-4.col-sm-6
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | J’ai fini avec tes questions, laisse moi commencer !


    script.
      $(function(){
        $('input:radio').change(
            function(){
                if($(this).val() == 1){
                  $('#company-field').show();
                } else {
                  $('#company-field').hide();
                }
            }
        );   

        $(".show-pass").on('click', function(){
            var type = $('#password').attr('type');
            if(type == 'password'){
              $('#password').attr('type', 'text');
            } else {
              $('#password').attr('type', 'password');
            }

        });

      });
