footer.footer
  .container.text-center
    ul.nav.navbar-nav
        li
          a(href='/legal-notice') Legal Notice
        li
          a(href='/contact') Contact
        li
          a(href='/press') Press

    //- div © 2014 Warpath