/*
@font-face {
    font-family: 'futura_condensed_light';
    src: url('../fonts/futura/futura-condensedlight-webfont.eot');
    src: url('../fonts/futura/futura-condensedlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-condensedlight-webfont.woff') format('woff'),
         url('../fonts/futura/futura-condensedlight-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-condensedlight-webfont.svg#futura_condensed_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_condensed_light';
    src: url('../fonts/futura/futura-condensedlightoblique-webfont.eot');
    src: url('../fonts/futura/futura-condensedlightoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-condensedlightoblique-webfont.woff') format('woff'),
         url('../fonts/futura/futura-condensedlightoblique-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-condensedlightoblique-webfont.svg#futura_condensed_lightitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'futura_condensed_light';
    src: url('../fonts/futura/futura-condensed-webfont.eot');
    src: url('../fonts/futura/futura-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-condensed-webfont.woff') format('woff'),
         url('../fonts/futura/futura-condensed-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-condensed-webfont.svg#futura_condensed_webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

*/


@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura-webfont.eot');
    src: url('../fonts/futura/futura-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-webfont.woff') format('woff'),
         url('../fonts/futura/futura-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-webfont.svg#futura_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura-oblique-webfont.eot');
    src: url('../fonts/futura/futura-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-oblique-webfont.woff') format('woff'),
         url('../fonts/futura/futura-oblique-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-oblique-webfont.svg#futura_oblique_webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura-bold-webfont.eot');
    src: url('../fonts/futura/futura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-bold-webfont.woff') format('woff'),
         url('../fonts/futura/futura-bold-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-bold-webfont.svg#futura_bold_webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'futura_extrabold';
    src: url('../fonts/futura/futura-extrabold-webfont.eot');
    src: url('../fonts/futura/futura-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-extrabold-webfont.woff') format('woff'),
         url('../fonts/futura/futura-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-extrabold-webfont.svg#futura_extrabold_webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'din_engschrift';
    src: url('../fonts/din/dinengschrift-webfont.eot');
    src: url('../fonts/din/dinengschrift-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/dinengschrift-webfont.woff') format('woff'),
         url('../fonts/din/dinengschrift-webfont.ttf') format('truetype'),
         url('../fonts/din/dinengschrift-webfont.svg#dinengschrift_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_regularalternate';
    src: url('../fonts/din/din-regularalternate-webfont.eot');
    src: url('../fonts/din/din-regularalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/din-regularalternate-webfont.woff') format('woff'),
         url('../fonts/din/din-regularalternate-webfont.ttf') format('truetype'),
         url('../fonts/din/din-regularalternate-webfont.svg#din-regularalternate_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
