/* Import Fonts */
@import url(http://fonts.googleapis.com/css?family=Coustard|Open+Sans);
html{
	height: 110%;
}

body {
	font-size: 14px;
	line-height: 21px;
	font-weight:400;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	color: #222c2b;
	background: #000;
	background-image: url('../images/backgrounds/bg-img-6.jpg');
	background-size: cover;
	background-position: 50% 50%;
	margin: 0;
	padding: 0;
	height: 100%;
}

#home, #about, #contact{
text-align: center;
}

h1, h2, h3, h4, h5, h6{
	color:#222c2b;
	font-weight: normal;
	letter-spacing: 1px;
}

h1,h5{
font-family: 'futura',sans-serif;
font-weight: bold;
}



h1{font-size: 63px; line-height: 70px; padding: 0; margin: 0;}
h5{font-size: 28px; line-height: 35px; padding: 0; margin: 0; color: #222c2b;}

p, input {
font-family: 'din_engschrift', sans-serif;
}

a {
	color: #b7b7b7;
	text-decoration:none;
	font-weight: normal;
}
a:hover {text-decoration:underline;}


#maximage {
	display:none;
	position:fixed !important;
}

.gradient {
	left:0;
	height:100%;
	position:absolute;
	top:0;
	width:100%;
	z-index:999;
}

.show{display: block;}
.hide{opacity: 0;}

/* Set Page Elements */
.content { 
	float:left;
	position:absolute;
	top:300px;
	left: 15%;
	width:70%;
	z-index:9999;
	-webkit-font-smoothing:antialiased;
}

#logo {
	background: url('../images/logo.png') no-repeat ;
	font-size: 49px;
	position:relative;
	width:271px;
	height: 270px;
	z-index:1000;
	color: #fff;
	margin: 0 auto;
}

.description{
margin: 10px auto;
max-width: 50%;
font-size: 18px;
background-color: rgba(255,255,255,0.5);
padding:5px;
}
#mail{
	position: relative;
	margin: 0 auto;
}

#mc_embed_signup form p.LabelMail{
font-family: "din_regularalternate",sans-serif;
font-size: 20px;
color: #222c2b;
font-weight: bold;
}

::-webkit-input-placeholder {
font-family: 'din_engschrift', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
font-family: 'din_engschrift', sans-serif;
}
::-moz-placeholder {  /* Firefox 19+ */
font-family: 'din_engschrift', sans-serif;
}
:-ms-input-placeholder {  
font-family: 'din_engschrift', sans-serif; 
}

#mc_embed_signup #mce-EMAIL{

font-size: 15px;
text-align: center;
min-width: 200px;
width: 50%;
padding: 10px;
}



#mc_embed_signup .button {
min-width: 90px;
background-color: #222c2b;
color: white;
width: 25%;

font-size: 18px;
padding: 10px;
border: 0;
margin-top: 10px;
opacity: 0.6;
}

#mc_embed_signup .button:hover{
cursor: pointer;
opacity: 1;
}


.main-nav{
	position:absolute;
	bottom: 23px;
	left:210px;
	z-index:1001;
}
.main-nav ul li { 
	list-style: none;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #b7b7b7;
}
.main-nav ul li a.active {color: #ffa800;}

.social-nav {
	position:absolute;
	top: 0px;
	left: 40px;
}
.social-nav ul {margin: 0; padding:0;}
.social-nav ul li{
	list-style: none;
	display:block;
	float: left;
	background: #393939;
	padding:100px 10px 5px 10px;
	margin: 1px;
	opacity: .5;
}
.social-nav ul li:hover {opacity: 1;}

button.full-screen{ 
	position: absolute;
	top: 0;
	right: 0;
	width: 31px;
	height: 31px;
	background: url("../images/full-screen-btn.png");
	border: 0;
	cursor: pointer;
	opacity: .7;
}
button.full-screen:hover {opacity: 1;}

#arrow_left, #arrow_right {
	bottom:30px;
	height:42px;
	position:absolute;
	right:40px;
	width:42px;
	z-index:1000;
}
#arrow_left {
	right:95px;
}


@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura-webfont.eot');
    src: url('../fonts/futura/futura-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-webfont.woff') format('woff'),
         url('../fonts/futura/futura-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-webfont.svg#futura_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura-oblique-webfont.eot');
    src: url('../fonts/futura/futura-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-oblique-webfont.woff') format('woff'),
         url('../fonts/futura/futura-oblique-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-oblique-webfont.svg#futura_oblique_webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura-bold-webfont.eot');
    src: url('../fonts/futura/futura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-bold-webfont.woff') format('woff'),
         url('../fonts/futura/futura-bold-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-bold-webfont.svg#futura_bold_webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'futura_extrabold';
    src: url('../fonts/futura/futura-extrabold-webfont.eot');
    src: url('../fonts/futura/futura-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-extrabold-webfont.woff') format('woff'),
         url('../fonts/futura/futura-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-extrabold-webfont.svg#futura_extrabold_webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'din_engschrift';
    src: url('../fonts/din/dinengschrift-webfont.eot');
    src: url('../fonts/din/dinengschrift-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/dinengschrift-webfont.woff') format('woff'),
         url('../fonts/din/dinengschrift-webfont.ttf') format('truetype'),
         url('../fonts/din/dinengschrift-webfont.svg#dinengschrift_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_regularalternate';
    src: url('../fonts/din/din-regularalternate-webfont.eot');
    src: url('../fonts/din/din-regularalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/din-regularalternate-webfont.woff') format('woff'),
         url('../fonts/din/din-regularalternate-webfont.ttf') format('truetype'),
         url('../fonts/din/din-regularalternate-webfont.svg#din-regularalternate_webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}



